You are making a final trade decision.
{% include "user/context/market_snapshot.j2" %}
{% include "user/context/order_flow.j2" %}
{% include "user/context/algorithm_confluence.j2" %}
{% include "user/context/account_state.j2" %}
