# Database Settings
DB_PASSWORD=your_secure_password

# Binance API Credentials
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_api_secret

# Application Settings
LOG_LEVEL=INFO
ENVIRONMENT=development  # development, testing, production

# Security Settings
SECRET_KEY=a_very_long_and_random_secret_key

# Path Settings
DATA_DIR=/path/to/data
MODELS_DIR=/path/to/models

tnwm6SumURwuND2npLD1lVxeO3FWIHvQc4GzNBYx3yu9DhyL7mMfprttyS0dRIdb
