CANDLES ({{ market_snapshot.timeframe }} {{ market_snapshot.symbol }}, price={{ market_snapshot.current_price }}, regime={{ market_snapshot.volatility_regime }}):
{{ candles_table }}

INDICATORS:
{{ indicators_compact }}
